WORD_API_URL=https://wordsapiv1.p.rapidapi.com/words
WORD_API_KEY=
WORD_API_HOST=wordsapiv1.p.rapidapi.com

MONGO_URI=mongodb://localhost:27017/wordsApi

LOCATION_API_KEY=
LOCATION_API_URL=https://api.ipfind.com